---
import Container from "./Container.astro"

---

<div id="cursos">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Cursos:</h2>
        <p class="text-lg lg:mx-auto lg:w-8/12 font-semibold text-center text-black dark:text-white">
          Aprovecha la oportunidad de profundizar tus conocimientos en la industria minera desde la exploración hasta la producción.
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">
        <!-- Curso de Introducción Integral a la Minería -->
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./foto-geologia.webp"
            alt="Curso de Minería" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
              Introducción Integral a la Minería: desde la Exploración hasta la Producción
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-white">
              Dirigido a personal técnico y minero, este curso coordinado por el Dr. Juan Gonzalo Veizaga, cubre todos los aspectos críticos de la minería. Únete a nosotros del 1 de junio al 1 de agosto de 2024.
            </p>
            <a class="inline-block" href="#">
              <span class="text-info dark:text-blue-300">Explorar Curso</span>
            </a>
          </div>
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
              <img src="./litio.webp"
              alt="Curso de Minería de Litio" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
              <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                  Curso integral sobre minería de litio: desde la extracción sostenible hasta la industria global
              </h3>
              <p class="mt-6 mb-8 text-gray-600 dark:text-white">
                  Coordinado por el Dr. Juan Gonzalo Veizaga, este curso está dirigido a personal técnico y minero interesado en sostenibilidad y avances en la industria del litio. Disponible desde el 1 de junio de 2024.
              </p>
              <a class="inline-block" href="#">
                  <span class="text-info dark:text-blue-300">Explorar Curso</span>
              </a>
          </div>
      </div>      
      </div>
  </Container>
</div>
