---
import Container from "./Container.astro"
---

<div class="relative py-10">
  <div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-cyan-400"></div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-blue-600"></div>
  </div>
  <Container>
    <div class="relative">
      <div class="flex items-center justify-center space-x-1">
        <!-- Se reemplazan las imágenes de avatares con imágenes representativas de las áreas de actividad -->
        <img loading="lazy" width="400" height="400" src="./areas/emprendimientos.png" alt="Empresas Mineras" class="invert h-7 w-7 object-cover" />
        <img loading="lazy" width="200" height="200" src="./areas/construccion.png" alt="Construccion" class="invert h-8 w-8 object-cover" />
        <img loading="lazy" width="200" height="200" src="./areas/servicios-mineros.png" alt="Servicios Mineros y Petroleros" class="invert z-10 h-12 w-12 object-cover" />
        <img loading="lazy" width="200" height="200" src="./areas/mineras.png" alt="Emprendimientos" class="invert z-10 h-16 w-16 object-cover" />
        <img loading="lazy" width="200" height="200" src="./areas/comerciales.png" alt="Empresas Comerciales" class="invert relative h-12 w-12 object-cover" />
        <img loading="lazy" width="200" height="200" src="./areas/educativas.png" alt="Instituciones Educativas" class="invert h-8 w-8 object-cover" />
        <img loading="lazy" width="200" height="200" src="./areas/petroleras.png" alt="Empresas Petroleras" class="invert h-7 w-7 object-cover" />
      </div>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-2xl font-bold text-white md:text-4xl">Renov&aacute; tu proyecto</h1>
        <p class="text-lg font-medium text-center text-white">
          &iexcl;Mejora tu crecimiento! Sé parte de la transformación económica y el desarrollo sostenible con soluciones innovadoras.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a href="/#empresa" class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
            <span class="relative text-base font-semibold text-white dark:text-dark">Contáctanos</span>
          </a>
          <a href="#" class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
            <span class="relative text-base font-semibold text-primary dark:text-white">Conoce más</span>
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>