---
import Container from "./Container.astro";

---
<Container>
    <div class="flex items-center space-x-3">
        <img src="/proceso.png" alt="Somos" class="h-12 w-12">
        <h1 class="text-2xl font-bold text-white">Proceso de trabajo:</h1>
    </div>
    <p class="my-4 text-lg font-semibold text-black dark:text-white">
        Desde VIOSOMOS implementamos estrategias
        garantizando resultados contrastables en función a
        la necesidad de cada empresa.
    </p>
<div class="grid grid-cols-2 gap-10 mt-10">
    <div>
        <div class="relative group">
            <img
              src="./foto-procesos.jpg"
              alt="Servicios"
              loading="lazy"
              class="w-full rounded-xl shadow-lg"
            />
            <!-- Div para el texto con pantalla negra semi-transparente -->
            <div class="overlay absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                <ul style="list-style-type: disc;" class="text-white text-lg font-semibold" id="step-description">
                    <li>Primeros contactos con el cliente</li>
                    <li>Diagnóstico y pronóstico preliminar del proyecto</li>
                    <li>Estimación y Contrato de servicio de consultoría</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <ol class="relative text-gray-500 border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <!-- Primer paso -->
            <li class="mb-16 active step-dot" style="cursor:pointer;">
                <span class="dot absolute flex items-center justify-center w-12 h-12 bg-green-200 rounded-full left-2 top-1 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700 active">
                    <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M26 4599 l-26 -20 0 -844 c0 -969 -10 -879 100 -895 36 -6 80 -12 98
-15 l32 -6 0 -1139 0 -1139 26 -20 c25 -20 40 -21 209 -21 177 0 182 1 203 23
l22 23 0 1110 0 1110 188 -18 c1094 -104 2270 -104 3365 0 l187 18 0 -353 c0
-340 1 -354 20 -373 30 -30 83 -30 115 1 19 19 20 35 23 377 1 196 6 360 10
363 4 4 35 10 69 13 l63 7 0 -1071 0 -1070 -70 0 -70 0 -2 611 -3 611 -24 19
c-31 25 -81 24 -109 -1 l-22 -21 0 -668 0 -668 23 -21 c22 -21 32 -22 206 -22
180 0 182 0 206 25 l25 24 0 1135 0 1135 33 6 c17 3 61 9 97 15 110 16 100
-75 98 898 l-3 845 -27 20 -28 21 -297 -37 c-846 -106 -1508 -143 -2393 -134
-539 5 -870 20 -1288 57 -284 25 -334 26 -355 2 -45 -50 -19 -126 46 -137 62
-10 495 -45 757 -60 459 -26 861 -34 1355 -24 659 12 1232 52 1848 127 l227
28 0 -726 0 -727 -260 -32 c-1419 -174 -2861 -174 -4280 0 l-260 32 0 727 0
727 177 -23 c98 -13 188 -21 201 -17 50 12 70 95 33 132 -23 23 -23 23 -280
56 -234 30 -232 30 -265 4z m497 -1816 c4 -2 7 -481 7 -1064 l0 -1059 -70 0
-70 0 0 1070 0 1071 63 -7 c34 -4 65 -9 70 -11z"/>
<path d="M3896 4039 c-267 -31 -277 -35 -279 -103 -2 -60 29 -81 111 -79 37 1
82 5 100 8 l32 6 0 -305 0 -305 26 -20 c45 -36 105 -20 124 32 6 18 10 144 10
322 l0 292 91 12 c101 13 123 21 140 52 15 29 3 85 -24 104 -27 19 -43 18
-331 -16z"/>
<path d="M1007 4036 c-64 -23 -109 -69 -132 -135 -52 -150 49 -309 216 -341
93 -18 146 -98 98 -149 -20 -22 -27 -23 -83 -17 -173 19 -190 19 -214 0 -31
-26 -39 -83 -15 -112 14 -18 37 -26 108 -37 130 -21 210 -19 262 6 143 69 166
268 44 389 -44 44 -87 63 -182 84 -54 12 -95 77 -78 124 13 35 40 43 121 32
40 -5 96 -10 125 -10 44 0 55 4 72 26 26 33 27 74 3 104 -14 17 -37 24 -122
35 -130 18 -175 18 -223 1z"/>
<path d="M1522 3977 c-22 -23 -30 -80 -14 -103 15 -23 54 -34 141 -41 l91 -6
0 -304 c0 -179 4 -312 10 -323 13 -25 65 -41 94 -30 54 20 56 30 56 351 l0
296 93 -5 c83 -4 95 -2 120 18 36 29 37 81 2 115 -13 14 -32 25 -42 25 -10 0
-117 7 -238 15 -292 19 -287 19 -313 -8z"/>
<path d="M3058 3971 c-139 -10 -128 24 -128 -412 l0 -368 26 -20 c15 -12 37
-21 50 -21 68 0 84 35 84 185 0 130 0 130 75 96 57 -26 101 -79 114 -141 6
-28 11 -57 11 -64 0 -23 45 -56 77 -56 17 0 41 9 54 19 21 17 24 27 22 84 -1
70 -38 170 -74 203 -26 23 -24 36 11 69 42 41 65 107 65 190 -1 75 -16 117
-64 168 -61 67 -134 82 -323 68z m201 -175 c5 -4 15 -22 21 -40 9 -27 8 -42
-4 -69 -19 -47 -49 -64 -123 -70 l-63 -5 0 98 0 99 53 3 c50 3 95 -4 116 -16z"/>
<path d="M2420 3951 c-76 -24 -127 -70 -159 -141 -19 -42 -21 -65 -21 -328 0
-166 4 -291 10 -302 14 -26 64 -41 99 -29 42 15 51 46 51 179 l0 120 95 0 95
0 0 -128 c0 -96 4 -133 15 -149 32 -46 113 -36 135 16 8 20 10 114 8 307 -3
252 -5 283 -22 318 -25 50 -73 97 -122 121 -42 20 -144 29 -184 16z m139 -185
c18 -19 24 -38 28 -90 l6 -66 -97 0 -96 0 0 55 c0 68 16 104 55 121 37 17 73
10 104 -20z"/>
</g>
</svg>
                </span>
                <h3 class="font-medium leading-tight ml-16 step-title">ETAPA INICIAL</h3>
            </li>
        <!-- Segundo paso -->
        <li class="mb-16  step-dot" style="cursor:pointer;">
            <span class="dot absolute flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
                <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M1590 5113 c-14 -2 -74 -13 -135 -24 -625 -116 -1152 -574 -1361
-1184 -62 -179 -85 -316 -91 -529 -6 -199 3 -304 38 -456 113 -495 429 -919
869 -1169 276 -157 566 -233 885 -232 350 0 636 76 933 247 l33 19 31 -35 c18
-19 363 -397 769 -840 787 -861 775 -849 909 -891 84 -26 216 -26 302 1 121
37 239 134 293 240 45 88 58 155 53 264 -6 111 -24 173 -79 258 -23 36 -282
278 -866 811 -458 417 -833 764 -833 769 0 5 15 36 34 67 127 217 208 496 226
774 59 941 -604 1761 -1538 1902 -94 14 -403 19 -472 8z m476 -223 c327 -56
623 -209 859 -445 498 -498 614 -1247 288 -1865 -211 -402 -591 -700 -1028
-809 -134 -33 -233 -44 -385 -44 -610 0 -1155 342 -1433 898 -177 354 -207
797 -81 1186 45 139 133 315 219 434 84 118 250 284 367 368 188 135 430 237
657 277 151 26 382 26 537 0z m1193 -2752 c25 -23 74 -67 107 -99 l62 -56
-147 -146 -146 -146 -95 106 c-52 58 -95 109 -95 112 0 4 32 36 71 72 39 35
98 94 130 131 32 37 61 67 63 68 2 0 25 -19 50 -42z m983 -896 c558 -508 610
-558 638 -614 43 -86 42 -170 -1 -256 -35 -70 -71 -105 -147 -140 -45 -20 -65
-23 -125 -20 -132 7 -106 -17 -749 688 l-578 634 152 153 152 152 25 -22 c15
-12 300 -271 633 -575z"/>
<path d="M1595 4705 c-691 -107 -1194 -692 -1195 -1388 -1 -681 488 -1263
1163 -1384 121 -21 352 -21 472 0 136 24 259 63 370 116 412 197 695 567 781
1021 38 201 19 481 -47 679 -67 206 -223 464 -297 492 -36 14 -99 -7 -119 -38
-32 -48 -21 -93 39 -177 408 -558 270 -1325 -307 -1707 -126 -84 -289 -148
-456 -180 -81 -15 -303 -15 -392 0 -249 42 -499 178 -675 366 -543 581 -374
1517 338 1878 216 109 487 151 715 111 153 -26 179 -28 212 -11 61 32 68 128
13 169 -70 52 -426 83 -615 53z"/>
<path d="M2437 4482 c-21 -22 -27 -38 -27 -74 0 -64 34 -98 100 -98 38 0 53 5
74 26 21 21 26 36 26 74 0 66 -34 100 -99 100 -39 0 -52 -5 -74 -28z"/>
<path d="M1441 4083 c-24 -25 -39 -73 -120 -400 l-93 -373 -182 0 -182 0 -27
-28 c-38 -39 -38 -108 -1 -145 34 -34 84 -40 321 -35 252 4 235 -11 303 268
23 96 46 178 49 182 4 4 28 -80 55 -187 29 -116 56 -205 68 -220 23 -29 74
-45 148 -45 l55 0 89 -267 c105 -317 116 -332 211 -323 49 4 70 48 161 323
l89 267 150 0 c183 0 218 5 250 38 36 36 36 109 -1 146 l-27 26 -244 0 -245 0
-27 -28 c-20 -20 -42 -69 -77 -175 -27 -81 -51 -147 -54 -147 -3 0 -28 68 -55
151 -62 189 -71 199 -183 199 l-77 0 -89 358 c-49 196 -95 369 -102 384 -32
64 -115 79 -163 31z"/>
</g>
</svg>

            </span>
            <h3 class="font-medium leading-tight ml-16 step-title">ETAPA DE DIAGNÓSTICO</h3>
        </li>
        <li class="mb-16 step-dot" style="cursor:pointer;">
            <span class="dot absolute flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
                <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M2727 5109 c-58 -14 -141 -56 -197 -100 l-49 -39 -680 0 c-659 0
-682 -1 -735 -20 -111 -42 -190 -125 -226 -239 -20 -62 -20 -90 -20 -1690 l0
-1628 23 -21 c34 -32 89 -30 116 4 l21 27 0 1617 0 1616 28 55 c33 66 86 105
161 119 32 6 286 10 631 10 l577 0 -18 -52 c-10 -29 -18 -63 -19 -75 l0 -23
-590 0 -589 0 -21 -22 c-20 -22 -20 -25 -20 -1735 l0 -1713 -430 0 c-429 0
-429 0 -450 -22 -25 -27 -26 -85 -5 -177 44 -183 207 -349 385 -390 25 -6 80
-11 123 -11 l77 0 0 -139 c0 -111 4 -152 20 -202 36 -114 115 -197 226 -239
54 -20 70 -20 1794 -20 1735 0 1739 0 1795 21 110 41 196 134 229 248 14 49
16 271 16 2217 0 2136 0 2163 -20 2225 -36 114 -115 197 -226 239 -53 19 -76
20 -738 20 -627 0 -685 1 -697 17 -27 32 -133 94 -197 113 -69 22 -222 26
-295 9z m301 -189 c74 -39 135 -103 170 -180 25 -53 26 -64 30 -265 4 -260 2
-255 127 -255 108 0 181 -15 228 -46 34 -22 77 -76 77 -96 0 -5 -360 -8 -800
-8 -440 0 -800 3 -800 8 0 20 43 74 77 96 47 31 120 46 228 46 122 0 119 -7
126 254 5 200 6 214 31 266 46 98 122 168 226 207 24 9 68 12 127 10 80 -3 97
-7 153 -37z m1523 -110 c75 -14 128 -53 162 -119 l27 -55 0 -2151 0 -2151 -28
-55 c-33 -66 -86 -105 -161 -119 -74 -14 -3308 -14 -3382 0 -75 14 -128 53
-162 119 -25 51 -27 62 -27 188 l0 133 1588 0 c1737 0 1642 -3 1756 58 73 39
177 145 215 220 64 127 61 11 61 1966 l0 1780 -22 23 -21 23 -589 0 -588 0 0
23 c-1 12 -9 46 -19 75 l-18 52 577 0 c345 0 599 -4 631 -10z m-2221 -365 l0
-75 -75 0 c-169 0 -305 -99 -355 -259 -27 -84 -26 -138 2 -168 l21 -23 938 0
938 0 20 26 c27 34 27 83 1 165 -50 160 -186 259 -355 259 l-75 0 0 75 0 75
525 0 525 0 -2 -1742 -3 -1743 -26 -55 c-37 -77 -97 -141 -171 -181 -60 -33
-67 -34 -168 -34 -101 0 -108 1 -168 34 -113 61 -186 170 -199 294 -4 42 -12
69 -26 85 l-20 22 -1189 0 -1188 0 0 1660 0 1660 525 0 525 0 0 -75z m1224
-3438 c8 -55 53 -148 99 -209 l37 -48 -1458 0 c-899 0 -1483 4 -1525 10 -126
18 -232 94 -287 203 -16 33 -30 66 -30 74 0 11 266 13 1579 13 l1579 0 6 -43z"/>
<path d="M2752 4799 c-149 -76 -162 -296 -23 -394 40 -28 49 -30 131 -30 82 0
91 2 131 30 129 91 129 289 0 380 -37 26 -53 30 -119 33 -63 2 -85 -1 -120
-19z"/>
<path d="M3454 3258 l-133 -132 -60 57 c-46 44 -66 57 -91 57 -42 0 -80 -39
-80 -81 0 -28 14 -47 98 -131 139 -139 122 -142 339 75 153 153 173 176 173
205 0 44 -38 82 -81 82 -28 0 -50 -18 -165 -132z"/>
<path d="M1905 3215 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 486
0 486 0 24 25 c16 15 25 36 25 55 0 19 -9 40 -25 55 l-24 25 -486 0 -486 0
-24 -25z"/>
<path d="M3454 2658 l-133 -132 -60 57 c-46 44 -66 57 -91 57 -42 0 -80 -39
-80 -81 0 -28 14 -47 98 -131 139 -139 122 -142 339 75 153 153 173 176 173
205 0 44 -38 82 -81 82 -28 0 -50 -18 -165 -132z"/>
<path d="M1905 2615 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 486
0 486 0 24 25 c16 15 25 36 25 55 0 19 -9 40 -25 55 l-24 25 -486 0 -486 0
-24 -25z"/>
<path d="M3454 2058 l-133 -132 -60 57 c-46 44 -66 57 -91 57 -42 0 -80 -39
-80 -81 0 -28 14 -47 98 -131 139 -139 122 -142 339 75 153 153 173 176 173
205 0 44 -38 82 -81 82 -28 0 -50 -18 -165 -132z"/>
<path d="M1905 2015 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 486
0 486 0 24 25 c16 15 25 36 25 55 0 19 -9 40 -25 55 l-24 25 -486 0 -486 0
-24 -25z"/>
</g>
</svg>

            </span>
            <h3 class="font-medium leading-tight ml-16 step-title">ETAPA DE PLANIFICACIÓN</h3>
        </li>
        <!-- Tercer paso -->
        <li class="mb-16  step-dot" style="cursor:pointer;">
            <span class="dot absolute flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
                <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M1588 5103 c-26 -31 -28 -53 -13 -116 21 -84 33 -104 67 -116 53 -19
107 17 108 70 0 46 -39 158 -60 169 -30 16 -85 12 -102 -7z"/>
<path d="M2725 5100 c-22 -25 -57 -148 -49 -175 11 -36 36 -55 71 -55 55 0 71
15 93 86 25 83 25 119 0 144 -27 27 -90 27 -115 0z"/>
<path d="M1364 4950 c-12 -5 -29 -19 -38 -32 -29 -41 -20 -67 47 -135 70 -70
96 -77 141 -42 20 16 26 29 26 60 0 32 -7 48 -42 86 -34 37 -94 76 -110 72 -2
0 -13 -4 -24 -9z"/>
<path d="M2937 4892 c-44 -44 -57 -64 -57 -88 0 -63 60 -100 117 -70 16 8 48
35 71 60 33 36 42 53 42 81 0 47 -29 75 -78 75 -33 0 -45 -8 -95 -58z"/>
<path d="M2066 4753 c-195 -41 -364 -161 -465 -327 -18 -31 -47 -95 -64 -143
-29 -82 -31 -97 -31 -223 0 -117 4 -145 26 -212 49 -147 142 -278 259 -364
l49 -36 0 -109 c0 -103 1 -111 25 -134 15 -16 36 -25 55 -25 19 0 40 9 55 25
l25 24 0 356 c0 393 1 397 63 452 88 78 209 62 269 -35 l23 -37 5 -976 c5
-943 6 -978 24 -998 26 -28 88 -29 116 -1 19 19 20 33 20 353 0 197 4 347 10
369 21 73 102 138 175 138 73 0 154 -65 175 -138 6 -22 10 -172 10 -369 0
-320 1 -334 20 -353 26 -26 80 -26 111 -1 l24 19 5 429 5 430 28 36 c16 21 47
47 69 58 84 43 195 4 237 -83 20 -43 21 -57 21 -450 0 -395 1 -406 21 -432 27
-34 86 -37 115 -5 18 19 19 44 24 323 l5 303 29 41 c32 47 95 82 146 82 52 0
118 -37 148 -83 27 -40 27 -42 32 -265 5 -220 5 -224 29 -243 31 -25 85 -25
112 2 20 20 20 29 17 262 l-3 242 -34 63 c-19 34 -50 77 -70 94 -90 79 -227
107 -336 69 -33 -12 -64 -22 -68 -24 -4 -1 -16 21 -26 50 -37 109 -114 185
-220 219 -68 21 -178 15 -243 -13 -55 -25 -127 -89 -153 -136 l-18 -34 -60 31
c-54 28 -69 31 -151 31 -73 0 -101 -4 -138 -22 l-48 -22 0 227 0 227 53 29
c28 16 91 68 138 115 72 72 94 102 133 181 62 126 79 213 73 355 -9 175 -66
317 -179 439 -172 188 -429 272 -672 219z m255 -157 c251 -53 439 -284 439
-536 0 -144 -52 -269 -156 -380 -37 -38 -70 -70 -74 -70 -5 0 -10 89 -12 198
-3 186 -5 200 -28 247 -33 67 -99 131 -168 163 -48 22 -71 27 -142 26 -72 0
-94 -4 -142 -27 -72 -35 -134 -97 -167 -167 -24 -51 -26 -69 -31 -224 l-5
-170 -40 46 c-23 25 -53 69 -68 96 -34 63 -67 189 -67 256 1 207 126 405 312
495 124 60 224 73 349 47z"/>
<path d="M1161 4674 c-45 -57 -14 -112 77 -138 32 -9 72 -16 88 -16 62 0 97
81 57 128 -21 24 -110 52 -164 52 -29 0 -42 -6 -58 -26z"/>
<path d="M3130 4689 c-83 -23 -110 -47 -110 -98 0 -35 39 -71 77 -71 53 0 146
29 166 52 23 27 22 69 -4 102 -22 28 -62 33 -129 15z"/>
<path d="M1865 2975 l-25 -24 -1 -358 0 -358 -58 122 c-41 85 -72 135 -104
167 -144 143 -375 150 -523 14 -55 -51 -85 -95 -107 -162 -21 -62 -22 -180 -2
-237 34 -96 319 -705 337 -721 46 -41 128 -5 128 56 0 21 -56 154 -156 372
-172 371 -182 405 -150 489 23 60 92 120 156 135 41 10 58 9 105 -5 94 -27
113 -54 259 -373 72 -156 136 -288 144 -295 26 -21 92 -14 113 12 18 22 19 49
19 583 l0 559 -25 24 c-15 16 -36 25 -55 25 -19 0 -40 -9 -55 -25z"/>
<path d="M3985 1941 c-49 -21 -50 -24 -56 -375 -5 -303 -8 -337 -28 -406 -33
-112 -84 -209 -161 -312 l-70 -92 0 -356 c0 -345 1 -357 20 -378 31 -33 92
-30 119 4 20 26 21 38 21 349 l0 322 46 58 c93 121 163 273 195 430 16 76 19
137 19 401 0 283 -2 314 -17 332 -21 25 -60 35 -88 23z"/>
<path d="M1527 1238 c-32 -25 -38 -64 -18 -116 44 -109 107 -232 158 -311 60
-92 180 -217 260 -271 l52 -35 1 -232 c0 -219 1 -234 20 -253 28 -28 90 -27
116 1 17 19 19 42 22 258 4 326 9 308 -91 377 -160 112 -239 212 -347 439 -38
78 -76 145 -85 149 -27 10 -70 7 -88 -6z"/>
</g>
</svg>

            </span>
            <h3 class="font-medium leading-tight ml-16 step-title">ETAPA DE EJECUCIÓN</h3>
        </li>
        <!-- Cuarto paso -->
        <li class="step-dot" style="cursor:pointer;">
            <span class="dot absolute flex items-center justify-center w-12 h-12 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
                <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">
<metadata>
Created by potrace 1.16, written by Peter Selinger 2001-2019
</metadata>
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="currentColor" stroke="none">
<path d="M1930 5113 c-243 -25 -535 -126 -900 -308 l-105 -53 -30 50 c-57 94
-148 142 -270 142 -130 0 -226 -59 -282 -172 l-28 -57 0 -1588 0 -1589 28 -24
c34 -29 66 -31 101 -3 l26 20 0 1562 c0 1502 1 1564 19 1603 27 58 72 88 137
89 59 0 94 -20 132 -75 l22 -33 0 -2199 c0 -2460 7 -2243 -71 -2295 -33 -22
-47 -25 -94 -21 -46 4 -61 10 -90 38 -20 19 -40 50 -45 70 -6 21 -10 230 -10
512 0 465 -1 479 -20 498 -26 26 -80 26 -111 1 l-24 -19 0 -514 0 -513 24 -53
c30 -66 113 -144 177 -166 26 -9 80 -16 119 -16 122 0 227 67 279 179 21 45
21 58 26 886 l5 839 275 128 c294 136 426 185 585 217 267 53 492 54 757 0
160 -32 310 -87 517 -189 203 -100 288 -136 407 -170 201 -58 361 -81 575 -81
266 0 387 23 498 97 109 72 184 173 227 304 18 52 19 119 22 1098 2 682 -1
1063 -8 1099 -14 76 -46 137 -98 185 -88 81 -174 99 -347 73 -244 -36 -462
-31 -697 17 l-108 22 -27 -20 c-21 -16 -29 -31 -31 -60 -5 -62 21 -79 158
-104 63 -12 125 -23 138 -26 l22 -4 0 -339 0 -338 -62 10 c-199 30 -349 86
-655 246 l-222 116 -1 318 c0 174 2 317 4 317 2 0 82 -38 177 -85 184 -90 230
-102 262 -67 30 33 32 75 5 106 -21 24 -223 123 -451 220 -107 46 -276 90
-426 110 -102 15 -409 20 -511 9z m492 -169 c59 -8 147 -25 195 -37 l88 -23 3
-320 2 -321 -67 19 c-215 60 -522 79 -742 44 -58 -9 -108 -16 -113 -16 -4 0
-8 143 -8 319 l0 318 78 13 c183 30 366 31 564 4z m-802 -383 l0 -318 -62 -23
c-35 -12 -185 -80 -334 -151 -149 -71 -274 -129 -278 -129 -3 0 -5 145 -4 322
l3 322 245 118 c224 107 386 176 418 177 9 1 12 -69 12 -318z m2925 -60 c95
-43 104 -76 105 -379 0 -185 -3 -244 -12 -247 -7 -2 -139 -18 -293 -34 -154
-17 -301 -33 -327 -36 l-48 -6 0 339 0 339 153 7 c83 4 190 13 237 20 118 18
139 18 185 -3z m-2115 -357 c85 -15 201 -43 253 -63 l27 -11 0 -359 0 -360
-39 14 c-71 25 -234 54 -366 65 -139 12 -263 7 -412 -16 -51 -8 -97 -14 -103
-14 -7 0 -10 124 -10 359 l0 359 43 10 c41 10 161 28 242 36 68 6 276 -5 365
-20z m-810 -432 l0 -359 -86 -32 c-47 -18 -196 -86 -332 -152 -136 -65 -250
-119 -254 -119 -5 0 -8 159 -8 353 l1 352 277 133 c228 109 385 180 400 182 1
0 2 -161 2 -358z m1448 188 c253 -134 464 -211 650 -235 26 -3 57 -8 70 -11
l22 -4 0 -364 0 -363 -57 9 c-179 27 -341 84 -543 188 -74 39 -181 94 -237
122 l-103 53 0 352 c0 194 2 353 5 353 3 0 89 -45 193 -100z m1580 -552 l-3
-363 -55 -6 c-30 -4 -163 -18 -295 -33 -132 -14 -259 -28 -282 -31 l-43 -5 0
365 c0 201 1 365 3 366 10 4 602 67 635 68 l42 1 -2 -362z m-2223 -93 c86 -14
201 -43 258 -64 l27 -11 0 -401 c0 -360 -2 -401 -16 -395 -41 16 -222 47 -334
57 -169 16 -399 4 -552 -27 l-28 -6 0 411 c0 382 1 410 18 415 158 45 426 54
627 21z m-805 -479 l0 -404 -67 -23 c-86 -28 -221 -85 -440 -188 l-173 -80 0
392 0 392 278 133 c227 109 385 180 400 182 1 0 2 -182 2 -404z m1438 240
c271 -144 415 -198 635 -236 60 -10 110 -20 113 -23 2 -2 3 -177 2 -389 l-3
-385 -113 23 c-165 33 -312 86 -522 189 -102 51 -211 102 -242 114 l-58 23 0
389 c0 214 2 389 5 389 3 0 85 -42 183 -94z m1592 -428 c0 -256 -11 -339 -54
-412 -52 -89 -143 -158 -244 -185 -55 -15 -274 -31 -335 -24 l-47 6 2 391 3
391 295 31 c162 17 314 32 338 33 l42 1 0 -232z"/>
</g>
</svg>
            </span>
            <h3 class="font-medium leading-tight ml-16 step-title">ETAPA DE FINALIZACIÓN</h3>
        </li>
        </ol>
    </div>
</div>
</Container>
<style>
    .overlay {
        display: flex; /* Asegura que el contenido texto se centre */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
        color: white; /* Texto blanco */
        transition: opacity 0.3s ease; /* Transición suave al cambiar */
        opacity: 1; /* Siempre visible */
    }

    .step-dot {
        position: relative;
    }

    .dot {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: transform 0.3s ease, background-color 0.3s ease;
    }

    .active .dot {
        transform: translateY(-50%) scale(1.2);
        background-color: #4CAF50;
    }

    .active .dot svg, .active .step-title {
        color: white; /* Cambia el color de los SVGs y los títulos a blanco */
        transition: color 0.3s ease;
    }

    ol {
        position: relative;
    }

    ol::before {
        content: "";
        position: absolute;
        top: 0;
        left: 12px;
        width: 2px;
        height: 100%;
        background: #ccc;
        z-index: -1;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Añadir evento de clic a cada dot
        document.querySelectorAll('.step-dot').forEach((dot, index) => {
            dot.addEventListener('click', () => {
                // Eliminar la clase 'active' de todos los dots y títulos
                document.querySelectorAll('.step-dot, .step-title').forEach(d => {
                    d.classList.remove('active');
                });
    
                // Agregar la clase 'active' al dot y al título clickeados
                dot.classList.add('active');
                dot.querySelector('.step-title').classList.add('active');
    
                // Cambiar el texto del overlay según el dot clickeado usando innerHTML
                const stepTexts = [
                    "<li>Primeros contactos con el cliente</li><li>Diagnóstico y pronóstico preliminar del proyecto</li><li>Estimación y Contrato de servicio de consultoría</li>",
                    "<li>Análisis del escenario ambiental</li><li>Análisis de los objetivos del proyecto</li><li>Aprobación y apoyo total del equipo</li><li>Información al cliente</li>",
                    "<li>Elaboración de soluciones</li><li>Evaluación de operaciones</li><li>Planeación y organización del programa</li><li>Propuesta al cliente</li>",
                    "<li>Aplicación de métodos de soluciones</li><li>Propuestas de ajuste</li>",
                    "<li>Evaluación</li><li>Informe final</li><li>Planes de seguimiento</li>"
                ];
                document.getElementById('step-description').innerHTML = stepTexts[index];
            });
        });
    });
    </script>