---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-white" id="reviews">
  <Container>
    <div class="mb-10 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-white md:text-4xl">
        Áreas de actividad
      </h2>
      <p class="text-lg lg:mx-auto lg:w-8/12 font-medium text-center text-white">
        Nuestra consultora está dedicada a analizar, desarrollar y ejecutar proyectos en diversos sectores, buscando siempre la transformación económica y el desarrollo sostenible.
      </p>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
<!-- Empresas Mineras -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/mineras.png" alt="icono mineras" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Empresas Mineras</h6>
  </div>
</div>

<!-- Empresas Petroleras -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/petroleras.png" alt="icono petroleras" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Empresas Petroleras</h6>
  </div>
</div>

<!-- Empresas Viales -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/viales.png" alt="icono empresas viales" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Empresas Viales</h6>
  </div>
</div>

<!-- Empresas Comerciales -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/comerciales.png" alt="icono empresas comerciales" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Empresas Comerciales</h6>
  </div>
</div>

<!-- Instituciones Educativas -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/educativas.png" alt="icono instituciones educativas" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Instituciones Educativas</h6>
  </div>
</div>

<!-- Empresas Turísticas -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/turisticas.png" alt="icono empresas turísticas" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Empresas Turísticas</h6>
  </div>
</div>

<!-- Empresas de Servicios de Construcción -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/construccion.png" alt="icono servicios de construcción" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Servicios de Construcción</h6>
  </div>
</div>

<!-- Empresas de Servicios Mineros y Petroleros -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/servicios-mineros.png" alt="icono servicios mineros y petroleros" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Servicios Mineros y Petroleros</h6>
  </div>
</div>

<!-- Empresas Inmobiliarias -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/inmobiliarias.png" alt="icono empresas inmobiliarias" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Empresas Inmobiliarias</h6>
  </div>
</div>

<!-- Empresas de Saneamiento Urbano -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/saneamiento.png" alt="icono saneamiento urbano" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Saneamiento Urbano</h6>
  </div>
</div>

<!-- Organismos Públicos -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/organismos-publicos.png" alt="icono organismos públicos" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Organismos Públicos</h6>
  </div>
</div>

<!-- Emprendimientos -->
<div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-primary bg-opacity-50 shadow-2xl shadow-gray-600/10 dark:shadow-none">
  <div class="flex items-center gap-4">
    <img class="w-12 h-12 invert" src="./areas/emprendimientos.png" alt="icono emprendimientos" width="400" height="400" loading="lazy">
      <h6 class="text-lg font-medium text-gray-700 dark:text-white">Emprendimientos</h6>
  </div>
</div>
    </div>
  </Container>
</div>