---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/viosomos.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Renova tu Proyecto" />
        <meta itemprop="image" content="/foto-geologia.webp" />

        <title>Viosomos</title>
        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    </body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
